@import 'tailwindcss';
@import "tw-animate-css";

:root {
    --text-xs:.75rem;
    --text-xs--line-height:calc(1 / .75);
    --text-sm:.875rem;
    --text-sm--line-height:calc(1.25 / .875);
    --text-base:1rem;
    --text-base--line-height:calc(1.5 / 1);
    --text-lg:1.125rem;
    --text-lg--line-height:calc(1.75 / 1.125);
    --text-xl:1.25rem;
    --text-xl--line-height:calc(1.75 / 1.25);
    --text-2xl:1.5rem;
    --text-2xl--line-height:calc(2 / 1.5);
    --text-3xl:1.875rem;
    --text-3xl--line-height:calc(2.25 / 1.875);
    --text-5xl:3rem;
    --text-5xl--line-height:1;

    --font-serif: 'Source Serif 4';
    --font-sans: 'IBM Plex Sans';
    --font-mono: 'IBM Plex Mono';

    --color-text-secondary: #666666;
    --color-text-primary: #1e1e1e;

    --color-secondary: #999999;
}

h1 {
    font-family: var(--font-serif);
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
    font-weight: 500;
}

h2 {
    font-family: var(--font-serif);
    font-size: var(--text-2xl);
}

h3 {
    font-family: var(--font-serif);
    font-size: var(--text-sm);
}
body {
    @apply bg-[#F6F6F6];
    color: var(--color-text-primary);
}

label {
    font-family: var(--font-mono);
}
.content p {
    font-family: var(--font-serif);
    font-size: var(--text-base)
}

.listElement {
    @apply flex rounded-md py-1 px-2 my-1 font-medium text-(--color-text-secondary);
    transition: 0.05s;
}

.listElement:hover {
    @apply bg-[#f1f1f1] text-(--color-text-primary);
}

.badge {
    @apply bg-[#DAD4D2] px-3 py-1  rounded-md border border-[#C7BEBA];
    font-size: var(--text-sm);
    font-family: var(--font-serif);
}